.main{
    background: black;
    width: 500px;
    height: 700px;
    margin-left: 488px;
    padding-top: 28px;
    border-radius: 35px;
}
#screen{
    width: 405px;
    height: 83px;
    margin: 35px;
    border-radius: 10px;
    pointer-events: none;
    font-size: 41px;
    padding-left: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(120, 124, 124);
    background-color: rgb(201, 210, 210);
}
.row{
    margin-left: 20px;

}
.btn{
    width: 77px;
    height: 64px;
    margin: 17px;
    border-radius: 12px;
    background-color: grey;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(94, 87, 87);

}
.clear{
    width: 77px;
    height: 64px;
    margin-left: 39px;
    border-radius: 12px;
    background-color: grey;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.head{
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 41px;
    margin: 0px;
    margin-left: 120px;
}